SECRET_KEY="t#$1$_&vszcojm%bpwf4a^pl@s86f=bje_#82$wz6fw^qogem0"
DEBUG="True"
PROD="False"
SEND_EMAIL="True"

# Auth0
ALLOWED_HOSTS="localhost,127.0.0.1"
AUTH0_DOMAIN="hoagie.us.auth0.com"
AUTH0_AUDIENCE="https://hoagieauth"

# Database
DATABASE_URL=""
TEST_DATABASE_URL="postgres://u813him9ckrsnh:paa55d8dfd0bb8653161348ca2702fc9a805ac85236621eeb4d77ae4b1feff66f@cet8r1hlj0mlnt.cluster-czrs8kj4isg7.us-east-1.rds.amazonaws.com:5432/d3g98s3ucne0ak"