@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
    --tint2: #F9FAFC;
    --gray100: #F4F5F9;
    --purpletint: #E7E4F9;
}
document, html, body {
    height: 100%;
}
body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
    padding: 0px;
    margin: 0 auto;
    background: var(--purpletint);
  }
  

h1, h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}

p {
    font-size:14pt;
}

a { 
    color: inherit;
    text-decoration: none;
} 

.hoagie {
    font-size: 14pt;
    font-family: 'Nunito', sans-serif !important;
    font-weight: 400;
}